@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #003350;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--main-color);
  font-family: var(--font-inter), sans-serif;
}


.main-color{
  color: var(--main-color);
}

.heroSectionBg{
  background-image: url("../../assets/home/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}
  

.div2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.div3 {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 1;
}
      

.footerBg{
  background-image: url("../../assets/footer/footerBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}